@mixin variant($color) {
  background-color: $color;
  transform: rotateY(360deg);
}

.letter {
  width: 2rem;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 0.4rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: larger;

  transition: transform 500ms;
  transform-style: preserve-3d;

  &--correct {
    @include variant(green);
  }
  &--misplaced {
    @include variant(yellow);
  }
  &--incorrect {
    @include variant(lightgray);
  }
}
