$font-size: 2rem;
$font-size-s: 1rem;

@mixin variant($color) {
    background-color: $color;
    transform: rotateY(360deg);
}

.letter {
    border: 1px solid gray;
    border-radius: 0.4rem;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: $font-size-s;

    transition: transform 500ms;
    transform-style: preserve-3d;

    &--correct {
        @include variant(green);
    }
    &--misplaced {
        @include variant(yellow);
    }
    &--incorrect {
        @include variant(lightgray);
    }

    @media screen and (min-width: 768px) {
        font-size: $font-size;
    }
}
